*{
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
}
.header{
   background-color: #1f2937;
   color: white;
   padding-top: 16px;
  
}
.nav{
  width: 1080px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto ;
}
.logo-text{
    color: #f9faf8;
    font-size: 24px;
}
.links{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}
li {
  color :#e5e7eb;
  font-size: 18px;
}
.header-content{
    display: flex;
    flex-wrap: wrap;
    padding: 80px 0;
    width: 1080px;
    justify-content: space-between;
    margin: 0 auto;
}
.header-information{
    width: 480px;
    
}
button{
    color: white;
    background-color: #3882f6;
    font-size: 18px; 
    padding: 8px 16px;
    border-radius: 12px;
    margin-top: 8px;
    }
.header-image{
    width: 480px;
}
.header-main-text{
    color: #f9faf8;
    font-size: 48px ;
    font-weight:900;

}

.information-section{
   padding-top: 32px;
   padding-bottom: 80px;
   
}
.information-section-heading{
    text-align: center;
    margin: 0 auto;
    width: 1080px;
    font-size: 36px ;
    font-size: #1f2937;
    font-weight: 900;
}

.information-section-items{
    width: 1080px;
    margin: 40px auto;
    display: flex;
    justify-content: space-evenly;
}
.information-section-item{
    width: 200px;

}
.information-section-image{
    width: 200px;
    height: 200px;
    border:solid #3882f6 4px  ;
    border-radius: 36px;

}

.quote-section{

background-color: #e5e7eb;
}
.quote-content{
    box-sizing: border-box;
    width: 1080px;
    margin:0 auto;
    padding: 80px  120px;

}
.quote{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;

}
.quote-author{
    font-weight: bold;
    text-align: end;

}